# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# STM specific files
*.stm32cubemx
*.stm32cubemx.ioc
*.stm32cubemx.zip
*.stm32cubemx.tar.gz
*.stm32cubemx.tar.bz2
*.stm32cubemx.tar.xz
*.stm32cubemx.7z
*.stm32cubemx.rar
*.stm32cubemx.tar
*.stm32cubemx.tgz
*.stm32cubemx.tbz2
*.stm32cubemx.txz
*.stm32cubemx.tar.bz
stm32*
